@model IEnumerable<ForoIA.Models.Db.Test>

@{
    ViewBag.Title = "Prueba";
    Layout = "_Layout.cshtml";
}

<br />

<div class="jumbotron">
    <h1>Bienvenido a la sección de pruebas en linea</h1>
    <p>Aquí pondrás a prueba y demostrarás tus conocimientos sobre la Inteligencia Artificial.</p>
    <p>Las preguntas están relacionadas al temario aplicado en la Escuela Superior de Ingeniería Mecánica y Electrica Unidad Culhuacan y a los documentos proporcionados en la página.</p>
    <p>Solo se realiza UNA SOLA VEZ la prueba, para realizar otra prueba, contacte con el Administrador :).</p>
    @*<p><a class="btn btn-primary btn-lg" href="#" role="button">Empezar</a></p>*@
    @*@Ajax.ActionLink("Empezar prueba", "ConfigurarPrueba", "Tests", null, new AjaxOptions() {
                                                                                            HttpMethod = "GET",
                                                                                            InsertionMode = InsertionMode.Replace,
                                                                                            UpdateTargetId = "renderBody" }, 
                                                                       new { @class = "btn btn-primary btn-lg" })*@
    @Html.ActionLink("Empezar prueba", "ConfigurarPrueba", "Tests", null, new { @class = "btn btn-primary btn-lg"})
</div>



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dificult.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dificult.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
